<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>The Steve and Kyle Podcast Accountant</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/themes/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/project/css/dashboard.css">
    <link rel="stylesheet" href="/project/css/font-awesome.min.css">
    <link rel="stylesheet" href="/project/css/bootstrap-social.css">

    <script src="/jquery/jquery-2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="/">S&K</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="/episodes">Episodes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://steveandkyle.libsyn.com" target="_blank">Libsyn Page</a></li>
            <li><a class="btn btn-social-icon btn-github btn-lg" href="https://github.com/derekslenk" target="_blank"><span class="fa fa-github"></span></a></li>
          </ul>

        </div><!-- collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- <script>
        $(".nav a").on("click", function(){
          $(".nav").find(".active").removeClass("active");
          $(this).parent().addClass("active");
        });
      </script> -->

      <script>
      $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
      });
    </script>
    {{template "content" .}}
  </body>
</html>
