{{define "content"}}

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Episode List</h1>
      <p>Eventually an episode list of some sort will be here</p>
    </div>
  </div>
</div>
{{end}}
