{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>The Steve and Kyle Podcast</h1>
      <p>I'm an unofficial accountant giving unofficial stats</p>
      <p>Beware that this is a super-beta site. No promises made</p>
    </div>
  </div>
  <div class="row">
    <div class="page-header">
    <h1>Morsels of information to whet your whistle</h1>
    </div>
<!-- <ul class="list-group">
  <li class="list-group-item"><span class="badge">{{.EpisodeCount}}</span>Number of episodes in this database</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul> -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Number of episodes in this database</h3>
      </div>
      <div class="panel-body">
        {{.EpisodeCount}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Average length of "regular" episodes</h3>
      </div>
      <div class="panel-body">
        {{.AvgLength}} minutes
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Number of "special" episodes (minisodes + vidisodes):</h3>
      </div>
      <div class="panel-body">
        {{.SpecialEpisodeCount}}
      </div>
    </div>
  </div>
</div>
{{end}}