{{define "content"}}

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Podcast Stats</h1>
      <p>More detailed stats will go here. Request stats via @derekslenk</p>
    </div>
  </div>
</div>
{{end}}
